/* All page */

body{
    font-family: 'Montserrat', sans-serif;
}

/* Splashscreen */

.nav-item, home-page {
    padding-left: 13px;
}


#splashscreen {
    /* margin-left: -5px; */
    height:835px;
    overflow: hidden;
    padding: 0px;
}

.splash-cover {
    height:835px;
    width:100%;
    object-fit:cover;
    position:absolute;
    margin-left: 0px;

    /* z-index: -2; */
   
    /* padding: 0px 0px 0px 0px; */
    /* overflow: hidden; */
    /* filter: brightness(0) saturate(100%) invert(29%) sepia(41%) saturate(4792%) hue-rotate(209deg) brightness(101%) contrast(99%), opacity(1); */

}

.btn-mainbuttonblue{
    background-color: RGB(63, 172, 250);
}

#blue-overlay {
    height:835px;
    width:100%;
    object-fit:cover;
    position:absolute;
    margin-left: 0px;
    background-color: blue;
    opacity:0.3;
    
    /* z-index: -2; */
}

#welcome-text-container {
    width: 960px;
    height: 174px;
    position: absolute;
    top: 284px;
    left: 200px;
    background-color: crimson;
}

#text-call-action {
    /* position: relative; */
    /* top: 170px; */
    margin-right: 30px;
    color: white;
}

#light-blue-bground-shape{
    position:absolute;
    /* z-index: ; */
    /* background-color: cornflowerblue; */
    width:960px;
    height: 174px;
    /* margin-right: 100px; */
}

#button-container-splashscreen {

}

/* Mid-message css */

.mid-message{
    margin-top: 40px; 
    margin-bottom: 40px;
}

/* Snippet Boxes */

.snip-box{
    border-style:hidden;
    border-width: 1px;
    border-radius: 10px;
    box-shadow:0px 5px 12px rgba(0, 0, 0, 0.2);
    overflow:hidden;
}

.snip-box-top {
    background-color: RGB(57, 130, 168);
}

.snip-box-bottom {
    font-size: 14px;
    color: RGB(121, 121, 138)
    
}

.snip-box, .fw-bold {
    font-size: 20px;
    color:RGB(30, 48, 77);
}

/* Reasons snippet */

#reasons-snippet {
   
    
    /* background-color:chartreuse; */
    /* background-color: RGB(250, 251, 252); */
}  

#reasons-snippet-mid-message{
    padding-top: 65px;
}